.quote__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  background: white;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 18px;
  padding: 24px;
  
  h5 {
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #262A2B;
  }

  h2 {
    font-size: 32px;
    letter-spacing: -0.01em;
    color: #00B7AC;
  }
}