.product__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;

  .product__item {
    width: 141px;
    height: 141px;
    background: white;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 28px;
    
    &:hover {      
      border: 2px solid #00B7AC;
    }
  }
  
}