.service__item {
  height: 72px;
  border-radius: 8px;
  background: #FFF;
  display: flex;
  flex-direction: row;
  padding: 22px 24px;
  margin-bottom: 16px;

  &:hover {
    cursor: pointer;
  }

  img {
    width: 24px;
    height: 24px;
  }

  h5 {
    font-family: GraphikBold;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #262A2B;
    margin-left: 32px;
  }
}

.service__item.active {
  border: 2px solid #00B7AC;
}