body {
  background: $color-primary;
}

.layout__container {
  main {
    position: relative;
    width: 375px;
    margin: 0px auto;
    padding: 65px 32px 32px 32px;
    background: $color-primary;
    height: 812px;
  }
}